.Filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.Filters__list {
  display: flex;
}

.filter {
  margin: 0 10px;
  width: 200px;
}

.filter > Select {
  border: none;
}

.Filters__searchBtn {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  height: 55px;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 500;
  background-color: #7065f0;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.Filters__searchBtn:active {
  background-color: #433c8c;
}
