@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.Searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 166px;
  padding-top: 60px;
}

.Searchbar__heading {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #010a29;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 42px;
  padding: 0 10px;
  font-size: 14px;
  color: #6c6896;
  border: 1px solid #dedcf5;
  border-radius: 4px;
  cursor: no-drop;
}

.downIcon {
  height: 20px;
  width: 20px;
}
